// Navigation code here

.nav {
	.center();
	flex-direction: column;
	width: 400px;
	h2 {
		margin: 10px 0;
	}
	a {
		text-decoration: none;
		font-size: 1.8rem;
		padding: 0 10px;
		margin-bottom: 10px;
		color: black;
	}
}
